<table>
    <tr>
        <th>Student</th>
        <th>Date</th>
        <th>Subject</th>
        <th>Reason</th>
        <th>Action</th>
    </tr>
    {% for leave_request in leave_requests %}
    <tr>
        <td>{{ leave_request.student.user.username }}</td> <!-- Updated path -->
        <td>{{ leave_request.date }}</td>
        <td>{{ leave_request.subject.subject_name }}</td>
        <td>{{ leave_request.reason }}</td>
        <td>
            <a href="{% url 'approve_leave_request' leave_request.id %}">Approve</a>
            <a href="{% url 'reject_leave_request' leave_request.id %}">Reject</a>
        </td>
    </tr>
    {% endfor %}
</table>